.layout__title {
  font-size: 20pt;
  margin: 0;
  padding: 20px;
  background: linear-gradient(to right, #003366, #0055A5); // azul institucional
  color: white;
  border-bottom: 4px solid #FFD700; // dorado USM
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
